name: Public Release - MacOS

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build-libraries:
    name: Libraries
    runs-on: macos-13
    env:
      REPO_NAME: ${{ github.event.repository.name }}

    steps:
      - name: Clone.
        uses: actions/checkout@v4
        with:
          submodules: recursive
          path: ${{ env.REPO_NAME }}

      - name: First set up.
        run: |
          sudo chown -R `whoami`:admin /usr/local/share
          brew update
          brew upgrade || true
          brew install automake meson nasm ninja pkg-config
          brew install icoutils create-dmg
          sudo mdutil -a -i off
          sudo xcode-select -s /Applications/Xcode_15.0.app/Contents/Developer

      - name: Build Libraries.
        run: |
          cd $REPO_NAME
          ./Telegram/build/prepare/mac.sh silent

      - name: Free up some disk space.
        run: |
          cd Libraries
          find . -iname "*.dir" -exec rm -rf {} \; || true

      - name: Cache Libraries.
        uses: actions/cache@v4
        with:
          path: |
            ./Libraries
            ./ThirdParty
          key: mac-libraries-${{ hashFiles('${{ env.REPO_NAME }}/Telegram/build/prepare/prepare.py') }}

  macos:
    environment: Release
    needs: build-libraries
    name: Telegram
    runs-on: macos-13

    env:
      UPLOAD_ARTIFACT: "true"
      ONLY_CACHE: "false"
      ARTIFACT_NAME: "PTelegram_"
      REPO_NAME: ${{ github.event.repository.name }}

    steps:
      - name: Clone.
        uses: actions/checkout@v4
        with:
          submodules: recursive
          path: ${{ env.REPO_NAME }}

      - name: First set up.
        run: |
          sudo chown -R `whoami`:admin /usr/local/share

          brew update
          brew upgrade || true
          brew install automake meson nasm ninja pkg-config

          brew install icoutils create-dmg

          # Disable spotlight.
          sudo mdutil -a -i off

          sudo xcode-select -s /Applications/Xcode_15.0.app/Contents/Developer

      - name: Restore Libraries Cache.
        uses: actions/cache@v4
        with:
          path: |
            ./Libraries
            ./ThirdParty
          key: mac-libraries-${{ hashFiles('${{ env.REPO_NAME }}/Telegram/build/prepare/prepare.py') }}

      - name: Telegram Desktop build.
        env:
          RSA_PRIVATE: ${{ secrets.RSA_PRIVATE }}
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
          MACOS_CERTIFICATE: ${{ secrets.MACOS_CERTIFICATE }}
          MACOS_CERTIFICATE_PWD: ${{ secrets.MACOS_CERTIFICATE_PWD }}
          CP_MAC_SKIPDMG: 1
        run: |
          cd $REPO_NAME/Telegram/build

          python3 release_build.py mac

      - name: Check.
        run: |
          filePath="$REPO_NAME/out/Release/deploy"
          if test -d "$filePath"; then
            echo "Build successfully done! :)"

            ls $filePath
          else
            echo "Build error, output file does not exist."
            exit 1
          fi

      - name: Move artifact.
        if: env.UPLOAD_ARTIFACT == 'true'
        run: |
          cd $REPO_NAME/out/Release/deploy
          mkdir ../artifact
          mv * ../artifact

      - uses: actions/upload-artifact@v4
        if: env.UPLOAD_ARTIFACT == 'true'
        name: Upload artifact TG.
        with:
          name: ${{ env.ARTIFACT_NAME }}_tg
          path: ${{ env.REPO_NAME }}/out/Release/artifact/t*macupd*

      - uses: actions/upload-artifact@v4
        if: env.UPLOAD_ARTIFACT == 'true'
        name: Upload artifact Extra.
        with:
          name: ${{ env.ARTIFACT_NAME }}_extra
          path: ${{ env.REPO_NAME }}/out/Release/artifact/*.zip
