name: Needs user action.

on:
  issue_comment:
    types: [created]
    
jobs:
  needs-user-action:
    runs-on: ubuntu-slim
    steps:
      - uses: lee-dohm/no-response@v0.5.0
        with:
          token: ${{ github.token }}
          responseRequiredLabel: needs user action
